* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: Montserrat;
    src: url(../../astess/font/Montserrat-Medium.ttf);
    font-weight: 400;
}

body {
    background-color: #232323;
}

main {
    display: flex;
}

/* menu */
.menu {
    width: 15%;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 98vh;
}

.menu-box {
    padding: 0px 20px;
    margin-top: 0.75rem;
    background-color: #2d2d2d;
    border-radius: 10px;
}

.menu-box p {
    color: #fff;
    font-size: 25px;
}

/* body */
.body {
    width: 85%;
    margin-left: 15%;
    background-color: #232323;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

/* header */
.logo {
    padding: 35px 0px;
    display: flex;
    justify-content: center;
}

.header_text p {
    font-family: Montserrat;
    color: #fff;
    line-height: 140%;
    text-transform: uppercase;
    font-size: 16px;
}

/* menu */
.menu-box_links ul {
    list-style: none;
}

.menu-box_links ul li {
    cursor: pointer;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #000;
}

.menu-box_links ul li:hover {
    background-color: #ffffff13;
}

.menu-box_links ul li a {
    font-family: Montserrat;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
}

.menu-box_links ul li img {
    width: 30px;
}

/* frist_box */

